<div class="row justify-content-around dishes">


        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="250" width="250" [src]="dish.image" alt="dish">
                <div class="card-body">
                <h5 class="card-title">{{dish.title}}</h5>
                
                <h5>{{time}} minutes</h5>

                <div *ngIf="type !== 'add'; else add_buttons">
                    <button class="btn btn-info" (click)="seeDetails()">Details</button>
                    <button class="btn btn-danger" (click)="deleteDish(dish)">Delete</button>
                </div>
                <ng-template #add_buttons>
                    <button class="btn btn-info" (click)="addDishEmitter(dish)">Add</button>
                </ng-template>
            
                <div *ngIf="activeDetails">
                    <h2>Time to prepare: {{time}} minutes</h2>
                </div>
                </div>
            </div>
        </div>



</div>
