<div class="row dishes">


        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="auto" width="500px" [src]="dish.image" alt="dish">
                <div class="card-body">
                    <h5 class="card-title">{{dish.title}}</h5>
                    
                    <div class="buttons">
                        <div *ngIf="type !== 'add'; else add_buttons">
                            <button class="btn btn-info" (click)="seeDetails()">Details</button>
                            <button class="btn btn-danger" (click)="deleteDish(dish)">Delete</button>
                        </div>
                        <ng-template #add_buttons>
                            <button class="btn btn-lg btn-info" (click)="addDishEmitter(dish)">Add</button>
                        </ng-template>
                    
                    </div>
                    <div *ngIf="activeDetails" style="padding:15px">
                        
                        <h5><i class="bi bi-alarm"></i> {{time}} minutes</h5>
                    </div>
                </div>
            </div>
        </div>



</div>
