<div class="row justify-content-around dishes">
    <div class="col-12 col-md-3 row rounded" *ngFor="let dish of this.dishesService.dishes; let i = index">
            <app-dish [dish]="dish" [time]="randomTime[i]" (dishToDeleteEmitter)="this.dishesService.deleteDish($event)"></app-dish>
    </div>
    <div class="col-12 col-md-3 row rounded" *ngFor="let vdish of this.dishesService.veganDishes; let i = index">
        <app-dish [dish]="vdish" [time]="randomTime[i+2]" (dishToDeleteEmitter)="this.dishesService.deleteDish($event)"></app-dish>
    </div>

    <div>
        <h1>Total time: {{totalTime}}</h1>
    </div>
</div>
