<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column fade-in">


  <main class="px-3 login">
    
    <div class="col-6 ">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="col form-group">
            <label for="floatingInput">Email</label>
            <input type="text" formControlName="email" class="form-control" name="email">
            <div 
              class="text-danger p-1" 
              *ngIf="loginForm.controls['email'].errors?.['required'] 
              &&
              loginForm.controls['email'].touched"
            >
              Invalid email.
            </div>
          </div>

          <div class="col form-group">
            <label for="floatingInput">Password</label>
            <input type="text" formControlName="password" class="form-control" name="password" minlength="5">
            <div 
              class="text-danger p-1" 
              *ngIf="loginForm.controls['password'].errors?.['required'] 
              &&
              loginForm.controls['password'].touched"
            >
              Invalid password.
            </div>
          </div>
          
          <div class="buttonLog mt-3">
            <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid || disableButton">Enviar</button>
          </div>

      </form>
      <br/>
      <div *ngIf="disableButton"> 
        <div class="spinner-border text-primary spinner" role="status">
        </div>
      </div>
    </div>
  </main>

</div>
