
<div class="container">

      <div class="py-5 text-center">
        <h2>Add a dish</h2>
      </div>
  
      <div class="row g-5">
       
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Search a dish to add</h4>
            <div class="row g-3">
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="filterRes" (ngModelChange)="filter()">
              </div>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Search a dish to add</h4>
            <div class="row g-3">
              <div class="col-sm-6" *ngFor="let dish of dishes">
                <app-dish [dish]="dish" [type]="'add'" (dishToAddEmitter)="this.dishService.addDish($event)"></app-dish>
              </div>
        </div>
      </div>
    
</div>